<div class="login">
    {{#form-for model wrapper='cuttle'}}
        {{input username}}
        {{input password}}
        <div class="row">
            <button type="submit" {{action "login"}}>Login</button>
            <span class="button-link">{{#link-to 'register'}}Don't have an account? Register!{{/link-to}}</span>
        </div>
     {{/form-for}}
</div>
