<div class="login">
  <div class="row">
    <span class="label">Username</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">Password</span>
    <span class="field">
      <input class="text" type="password" />
    </span>
  </div>
  <div class="row">
    <button>Login</button>
    <span class="button-link">{{#link-to 'register'}}Don't have an account? Register!{{/link-to}}</span>
  </div>
</div>
