<div class="login">
  <div class="row">
    <span class="label">Username</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">Username</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
</div>
