<div class="login">
  <div class="row">
    <span class="label">Username</span>
    <span class="field">
      {{input type="text" class="text" value=username}}
    </span>
  </div>
  <div class="row">
    <span class="label">Password</span>
    <span class="field">  
      {{input type="password" class="text" value=password}}
    </span>
  </div>
  <div class="row">
    <button {{action 'login'}}>Login</button>
    <span class="button-link">{{#link-to 'register'}}Don't have an account? Register!{{/link-to}}</span>
  </div>
</div>
