<div class="register">
  <div class="row">
    <h1>Account informations</h1>
  </div>
  <div class="row">
    <span class="label">Username</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">Email</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">Password</span>
    <span class="field">
      <input class="text" type="password" />
    </span>
  </div>
  <div class="row">
    <span class="label">Password confirmation</span>
    <span class="field">
      <input class="text" type="password" />
    </span>
  </div>
  <div class="row">
    <h1>Personal informations</h1>
  </div>
  <div class="row">
    <span class="label">Firstname</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">Lastname</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">Adress</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">ZIP</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">Location</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <span class="label">Country</span>
    <span class="field">
      <input class="text" type="text" />
    </span>
  </div>
  <div class="row">
    <button>Register</button>
  </div>
</div>
