@import 'colors.less';
@import 'columns.less';

@total-width: 100%;


body,html {
  margin: 0;
  padding: 0;
  font-family: Helveticy, sans-serif;
}

header {
    @header-height: 4em;
    height: @header-height;
    color: @background;
    background-color: @foreground;
    width: 100%;

    .logo {
      img {
        height: 4em;
      }
      float: left;
      .push(2);
    }

    nav {
      ul {
        margin: 0;
        padding: 0;
        .clearfix();
        li {
          list-style-type: none;
          float: left;
          margin-left: 1.2em;
          a {
            @menu-font-size: 1.3em;
            color: @background;
            font-size: @menu-font-size;
            display: inline-block;
            line-height: (4em / @menu-font-size);
            height: (4em / @menu-font-size);
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
      .pull-absolute(4);
    }

    #login {
      .column(2);
      .pull(2);
      float: right;

      button {
        margin-top: ((@header-height / @button-font-size) - 2 * @button-border - @button-height) / 2;
        border-color: @background;
      }
    }
}


@button-height: 2em;
@button-font-size: 1.2em;
@button-border: 0.2em;

button {
  height: @button-height;
  border: @button-border solid @foreground;
  background-color: @background;
  color: @font;
  font-weight: bold;
  font-size: @button-font-size;
  padding: 0 0.5em;
  border-radius: 0.5em;
  float: right;
  margin-left: 0.5em;
  outline:none;
  cursor: pointer;

  &.second {
    border-color: @background;
    background-color: @foreground;
    color: @background;
  }

}
