<h1>Octopus tenants</h1>
<div class="row">
    {{#link-to "octopus.new" class="button"}}Add{{/link-to}}
</div>
<table>
    {{#each model}}
        <tr>
            <td>{{#link-to 'octopus.edit' this}}{{name}}{{/link-to}}<td>
            <td><a {{bind-attr href=mainUrl}}>{{mainUrl}}</a><td>
        </tr>
    {{/each}}
</table>
