<span class="field">
    {{input-field class="text" propertyBinding="view.property" inputOptionsBinding="view.inputOptionsValues"}}
</span>
{{#if view.showError}}
    {{error-field propertyBinding="view.property"}}
{{/if}}
{{#if view.hint}}
    {{hint-field propertyBinding="view.property" textBinding="view.hint"}}
{{/if}}
